.editor-pane {
  margin: 3rem;
  margin-bottom: 0rem;
}
.textArea {
  min-width: 100%;
  min-height: 300px;
  border-radius: 1rem;
  padding: 1rem;
}

.preview-pane {
  margin: 2rem;
  margin-top: 0rem;
  border-radius: 1rem;
  padding: 1rem;
}
