body {
  padding: 1rem;
}
.textArea {
  width: 100%;
  min-height: 20rem;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
}

.preview-pane {
  padding: 2rem;
  margin-top: 0rem;
  border-radius: 1rem;
  padding: 1rem;
}
